* {
    margin: auto;
}

header {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}

#container {
    display: flex;
}

.box {
    border: solid 3px green;
}

#left {
    width: 300px;
}

#right {
    width: 70%;
}